.bottomBarWrap{
    margin-top: 10px;
    background: -webkit-linear-gradient(left,#7A46E5,#B23CEF);
    background: linear-gradient(left,#7A46E5,#B23CEF);
    color: #fff;
}
.bottomBar{
    height: 384px;
}