.queryToolsWrap{
    margin-top: 10px;
    margin-bottom: 15px;
}
.queryTools{
    background: #FAF9F9;
}
.searchTools{
    position: relative;
    height: 32px;
    width: 990px;
    background: #F9F9F9;
    border: 1px solid #E6E2E1;
    box-sizing: border-box;
    padding-left: 25px;
    line-height: 32px;
    color: #666;
    input{
        padding: 0;
        margin-left: 10px;
        height: 18px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-indent: 10px;
        color: #333;
    }
    span{
        position: absolute;
        left: 215px;
        top: 3px;
        cursor: pointer;
    }

}

.selectTools{
    padding: 3px;
    height: 26px;

    div{
        padding: 0 5px;
        height: 22px;
        float: left;
        border: 1px solid #CCCCCC;
        color: #806f66;
        border-left: none;
        line-height:22px;
        cursor: pointer;
    }
    div:hover{
        color: #B10000;
        background: #F1EDEC;
    }
    .firstTools{
        color: #B10000;
        background: #F1EDEC;
        border: 1px solid #CCCCCC;
    }
    input{
        padding: 0px;
        width: 45px;
        height: 22px;
        float: left;
        border: 1px solid #CCCCCC;
        border-radius: 2px;
        color: #806f66;
        line-height:22px;
        cursor: pointer;
        text-indent: 5px;
    }
    .secondTools{
        margin-left: 8px;
    }
    span{
        width: 10px;
        height: 22px;
        float: left;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-radius: 2px;
        color: #806f66;
        text-align: center;
        line-height:22px;
        cursor: pointer;
    }
}
.list{
    overflow: hidden;
    .goods{
        margin: 15px 9px;
        float: left;
        width: 180px;
        height: 322px;
        >img{
            width: 180px;
            height: 180px;
            cursor: pointer;
        }
        .goodsSmallPics{
            // width: 180px;
            margin: 9px 19px 3px;
            height: 34px;
            >img{
                float: left;
                margin-right: 2px;
                // margin:0px;
                height: 32px;
                width: 32px;
                border: 1px solid #CCCCCC;
                cursor: pointer;
            }
        }
        .listPrice{
            color: #c00;
            font-size: 14px;
            font-weight: 700;
            height: 20px;
            line-height: 20px;
        }
        .listTitle{
            font-size: 12px;
            margin-top: 20px;
            line-height: 1.5;
            height: 36px;
            overflow: hidden;
            color: #666;
        }
        .sellTitle{
            line-height: 20px;
            color: #999;
            .sell{
                color: #c49173;
                font-weight: bolder;
            }
        }
        .reviewTitle{
            margin-left: 30px;
            padding-left: 10px;
            color: #38b;
            border-left: 1px solid #CDCDCD;
            cursor: pointer;
            :hover{
                text-decoration: underline;
            }
        }
    }
}
