.wrapper{ background: #F5F5F5;}

.allGoodsWrap, .firstScreenWrap, .globalSelectionWrap, .discountWrap{min-width: 1190px;}
.allGoods, .firstScreen, .globalSelection, .discount{width: 1190px; margin: 0 auto;};

.topBarWrap, .searchAreaWrap{min-width: 990px;}
.topBar, .searchArea{width: 990px;margin: 0 auto;};
