.wrapper{ background: #F5F5F5;}

.allGoodsWrap, 
.firstScreenWrap, 
.globalSelectionWrap, 
.discountWrap, 
.moduleTitleWrap, 
.beautyWrap,
.loginTopWrap,
.loginMiddleWrap,
.loginBottomWrap,
.dysonsearchAreaWrap
{min-width: 1190px;}

.allGoods, 
.firstScreen, 
.globalSelection, 
.discount, 
.moduleTitle, 
.beauty,
.loginTop,
.loginMiddle,
.loginBottom,
.dysonsearchArea
{width: 1190px; margin: 0 auto;};

