/* 轮播图上方 */
.allGoodsWrap {
    border-bottom: 1px solid #7A44E5;
}

.allGoods {
    height: 37px;
    font-size: 14px;
    line-height: 37px;
    /* background-color: red; */
}

.allGoodsL {
    padding: 0 20px;
    width: 160px;
    height: 37px;
    color: #fff;
    background: -webkit-linear-gradient(left, #7A44E5, #B23CEF);
}

.allGoodsM li {
    float: left;
    height: 37px;
    margin-right: 40px;
    cursor: pointer;
}

.allGoodsM li {
    color: #333;
}

.allGoodsM li:hover {
    color: #7A44E5;
}

.allGoodsM li:nth-child(1) {
    color: #7A44E5;
    margin-left: 46px;
    font-weight: bold;
}

.about {
    width: 142px;
    height: 37px;
    color: #333;
    text-align: center;
}

.about:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* 轮播图上方 */


/* 第一屏区域  */
.firstScreenWrap {
    border-bottom: 1px solid #DDD;
}

.firstScreen {
    height: 419px;
}

/* 第一屏区域  */


/* 分类列表 */
.category {
    width: 200px;
    height: 420px;
    background-color: #333;
}

.category>div {
    height: 84px;
    color: #fff;
    position: relative;
}

.category dt>h3 {
    padding-top: 19px;
    margin-left: 59px;
    font-size: 16px;
    line-height: 1em;
    font-weight: bold;
    cursor: pointer;
}

.category dt>p {
    margin-left: 20px;
    width: 160px;
    display: block;
    padding-top: 15px;
    padding-bottom: 17px;
    border-bottom: 1px dotted #666;
    cursor: pointer;
}

.category .category5 p {
    border-bottom: none;
}

.category1 {
    background: 21px 18px url("../images/cate1.png") no-repeat;
    background-size: 22px;
}

.category2 {
    background: 21px 18px url("../images/cate2.png") no-repeat;
    background-size: 22px;
}

.category3 {
    background: 21px 18px url("../images/cate3.png") no-repeat;
    background-size: 22px;
}

.category4 {
    background: 21px 18px url("../images/cate4.png") no-repeat;
    background-size: 22px;
}

.category5 {
    background: 21px 18px url("../images/cate5.png") no-repeat;
    background-size: 22px;
}

.category>div:hover {
    background-color: #7A44E5;
}


/* 二级 */
.double {
    min-height: 436px;
    width: 685px;
    padding: 30px 0 4px 30px;
    background-color: #fff;
    position: absolute;
    left: 200px;
    top: 0px;
    z-index: 2;
    display: none;
    box-shadow: 0px 3px 5px 1px #aaa;
}

.category2 .double {
    top: -84px;
}

.category3 .double {
    top: -168px;
}

.category4 .double {
    top: -252px;
}

.category5 .double {
    top: -336px;
}

.double .closeDouble {
    height: 12px;
    font-size: 18px;
    line-height: 12px;
    color: #ccc;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
}

.categoryBlock {
    display: inline-block;
    vertical-align: top;
    width: 313px;
    margin-right: 22px;
    margin-bottom: 26px;
    overflow: hidden;
}

.categoryTitle {
    vertical-align: middle;
    /* padding: 0 20px; */
    /* font-size: 18px; */
}

.categoryTitle h3 {
    display: inline-block;
    color: #333;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    vertical-align: middle;
    cursor: pointer;
}

hr {
    margin: 10px 0;
}

.categoryBlock a {
    padding: 0 7px 0 10px;
    margin-top: 10px;
    border-left: 1px solid #d9d9d9;
    display: inline-block;
    font-size: 12px;
    color: #666;
    line-height: 12px;
    height: 12px;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}

.categoryBlock span {
    display: block;
    width: 100%;
    margin-left: -10px;
}

.categoryBlock span a:hover {
    text-decoration: underline;
    color: #EE5153;
}

/* 二级 */
/* 分类列表 */


/* 轮播图 */
.slideshow {
    width: 750px;
    height: 420px;
}

.mainSwiper {
    width: 750px;
    height: 420px;
}

.mainSwiper .swiper-pagination {
    left: auto;
    width: auto;
    right: 23px;
    bottom: 23px;
}

.mainSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
}

.mainSwiper .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-left: 12px !important;
    opacity: 1;
    background: #fff;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
    outline: none;
}

.mainSwiper .swiper-pagination .swiper-pagination-bullet-active {
    background: #7A44E5;
}

.mainSwiper .swiper-button-prev,
.mainSwiper .swiper-button-next {
    width: 34px;
    height: 68px;
    color: #fff;
    background-color: rgba(43, 43, 43, .5);
    opacity: 0.7;
}

.mainSwiper .swiper-button-prev {
    left: -34px;
}

.mainSwiper .swiper-button-next {
    right: -34px;
}

.mainSwiper .swiper-button-prev:after,
.mainSwiper .swiper-button-next:after {
    font-size: 30px;
}

/* 轮播图 */


/* 二维码 */
.QRCode {
    width: 240px;
    height: 420px;
    background-color: #fff;
    text-align: center;
}

.pickUP-zh {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}

.pickUP-en {
    margin-top: 3px;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.pickUPWW {
    margin-top: 16px;
}

.pickUPQR {
    margin-top: 10px;
}

.pickGlobal {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #333;
}

.pickDesc {
    font-size: 12px;
    line-height: 18px;
    color: #a5a5a5;
    padding: 0 30px;
    height: 36px;
    position: relative;
    text-align: left;
}

/* 二维码 */


/* 全球精选 */
.globalSelectionWrap {
    margin-top: 40px;
}

.globalSelection {
    height: 135px;
    text-align: center;
}

.globalSelection>img {
    margin: 8px auto;
    vertical-align: middle;
}

.globalSelection a {
    border: 1px solid #7a45e5;
    border-radius: 2px;
    height: 36px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    display: block;
    color: #7A45E5;
    width: 142px;
    margin: 30px auto;
    box-sizing: border-box;
    font-weight: 700;
}

/* 全球精选 */

/* 折扣商品 */
.discount {
    overflow: hidden;
}

.discount>div {
    float: left;
    width: 237px;
    height: 412px;
    background-color: #fff;
    border-right: 1px solid #F2F2F2;
}

.discount>div img {
    width: 100%;
    height: 237px;
}

.discountMeta {
    margin: 0 10px;
    margin-top: 14px;
    overflow: hidden;
    /* background-color: #000; */
}

.discountTxt {
    line-height: 20px;
    display: block;
    width: 100%;
    float: left;
    color: #999;
    font-size: 12px;
}

.discountTitle {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.discountTitle-des {
    margin-top: 10px;
    color: #666;
    height: 34px;
    font-size: 12px;
    overflow: hidden;
    line-height: 18px;
    width: 100%;
}
.priceLeft{
    margin: 10px;
    height: 50px;
    width: 110px;
}
.price .act{
    color: #dd2727;
}
.price .rmb{
    font-size:14px;
}
.price .big{
    font-size: 24px;
}
.gray{
    text-decoration: line-through;
    color: #999;
    font-family: Helvetica;
    width: 130px;
    font-size: 12px;
}
.sold{
    color: #999;
}

.buyNow{
    margin: 15px 10px 0 0;
    font-size: 18px;
    background: #ffdadd;
    color: #f45;
    height: 40px;
    display: inline-block;
    width: 84px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
/* 折扣商品 */

/* 公共Title模块 */
.moduleTitleWrap{
    margin-top: 40px;
}
.moduleTitle{
    height: 40px;
}
.moduleTitle img{
    display: block;
    margin: 0 auto;
}
/* 公共Title模块 */






/* Beauty模块 */
.beauty{
    height: 475px;
    border-top: 1px solid #ED1957;
    background: #fff;
}

.moduleList{    
    padding: 15px 0 0 20px;
    width: 98px;
}
.moduleList span{
    /* display:block; */
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    color: #333;
}
.moduleList li{
    margin-top: 20px;
    font-size: 12px;
    line-height: 100%;
    cursor: pointer;
}
.moduleList li:hover{
    text-decoration: underline;
    color: #ed1957;
}

.modulePic{
    width: 192px;
    height: 474px;
    position: relative;
    background: #0f0;
}
.modulePic>img{
    width: 100%;
    height: 100%;
}
.modulePic>div{
    width: 100%;
    height: 98px;
    background: rgba(237,25,87,0.95);
    position: absolute;
    bottom:0;
    color: #fff;
    text-align: center;
}
.modulePic h3{
    margin-top: 26px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.modulePic p{
    display: inline-block;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 12px;
    line-height: 20px;
    width: 104px;
    text-align: center;
    font-weight: 700;
}

.shopwindow{
    border-right: 1px solid #e8e8e8;
}
.shopwindow .row{
    height: 237px;
    border-top: 1px solid #e8e8e8;
}
.shopwindow .first{
    border: none;
}
.shopwindow .item{
    position: relative;
    float: left;
    border-left: 1px solid #e8e8e8;
    width: 198px;
    height: 237px;
    text-decoration: none;
    cursor: pointer;
    /* -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0); */
}
.shopwindow .big{
    width: 377px;
    height: 236px;
    padding-left: 20px;
}
.item .itemleft-title{
    display: inline-block;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid #101010;
    color: #101010;
    font-size: 14px;
    line-height: 26px;
    padding: 0;
    margin-top: 84px;
    max-width: 141px;
}
.item .item-img{
    display: block;
    width: 160px;
    height: 160px;
    margin: 16px auto 8px;
    transition: transform 0.4s;
}
.big .item-img{
    width: 212px;
    height: 212px;
    float: right;
    margin: 12px;
}

.item .item-title{
    text-align: center;
    padding: 0 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 14px;
    color: #4c4c4c;
}
.item .price{
    text-align: center;
}
.item .item-act-price{
    font-size: 18px;
    color: #f14f4f;
    vertical-align: middle;
}
.item .item-act-price .rmb{
    font-size: 14px;
    color: #f14f4f;
    text-align: center;
}
.item .item-tag-price{    
    margin-left: 3px;
    font-size: 13px;
    color: #a6a6a6;
    text-decoration: line-through;
    vertical-align: middle;
    text-align: center;
}
.item .item-tag-price .rmb{
    font-size: 12px;
}

.big .item-act-price{    
    font-size: 21px;
    color: #f14f4f;
}
.big .item-act-price .rmb{
    font-size: 14px;
}
.big .item-tag-price{
    font-size: 15px;
    margin-left: 3px;
    color: #a6a6a6;
    text-decoration: line-through;
    vertical-align: middle;
}
.big .item-tag-price .rmb{
    font-size: 12px;
}


.moduleSwiperWrap{
    width: 269px;
    height: 100%;
    position: relative;
    padding: 0 8px 0 5px;
    overflow: hidden;
    /* background-color: #f00; */
}
.moduleSwiperWrap .title{
    width: 100%;
    display: inline-block;
    padding: 13px 0 0;
    line-height: 28px;
    font-size: 18px;
    border-bottom: 1px solid #e8e8e8;
    color: #737373;
}
.moduleSwiperWrap .title .strong{
    display: inline-block;
    border-bottom: 1px solid #ed1957;
    color: #ed1957;
    font-size: 22px;
    vertical-align: middle;
    /* line-height: 28px; */
}

.moduleSwiper{
    height: 430px;
    /* background: #f00; */
}
.moduleSwiper .swiper-pagination{
    bottom: 2px;
}

.moduleSwiper .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    margin: 8px !important;
}
.moduleSwiper .swiper-pagination-bullet-active {
    background: #ef4f51;
}
.swiper-slide>div{
    float: left;
    position: relative;
    width: 130px;
    height: 87px;
    margin: 10px 3px 0 0;
    cursor: pointer;
}
.swiper-slide img{
    height: 65px;
}
.swiper-slide span{
    display: block;
    width: 130px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    background: #EDEDED;
    color: #868686;
    text-align: center;
}



/* Beauty模块 */



/* .mainSwiper .swiper-pagination {
    left: auto;
    width: auto;
    right: 23px;
    bottom: 23px;
}

.mainSwiper .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-left: 12px !important;
    opacity: 1;
    background: #fff;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.4);
    outline: none;
}

.mainSwiper .swiper-pagination .swiper-pagination-bullet-active {
    background: #7A44E5;
} */