.topBarWrap{
    height: 26px;
    border-bottom: 1px solid #E5E5E5;
    background: #F2F2F2;
}
.topBar{
    clear: both;
    /* background-color: #000; */
    height: 26px;
}
.topBar>ul>li{
    display: inline-block;
    vertical-align: baseline;
    font-size: 12px;
    line-height: 26px;
    color: #A3A3A3;
    cursor: pointer;
    font-family: '宋体';
}
.topBar_left{
    float: left;
    margin-left: 0px;
}
.topBar_left>li{
    margin-right:16px;
}
.topBar_right{
    float: right;
    margin-right: 0px;
    position: relative;
}
.topBar_right>li{
    padding:0 8px;
    margin-left:2px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.myTB, .myFavorite, .support{
    position: relative;
}
.myTB:hover, .myFavorite:hover, .support:hover{
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    background: #fff;
    padding-bottom:1px;
}

.shortLine{
    display: inline-block;
    width:0px;
    height: 14px;
    border-left: 1px solid #BBBBBB;
    position: absolute;
    top:6px;
}
.iconfont{
    font-size: 12px !important;
    line-height: 26px;
}
.icon-down{
    font-size: 12px !important;
    color: #BBBBBB;
    display: inline-block;
    transition: transform 0.5s;
}
.icon-home-copy, .icon-ShoppingCart{
    color: #FF0036;
}

.myTB:hover .iconfont.icon-down,.myFavorite:hover .iconfont.icon-down,.support:hover .iconfont.icon-down{    
    transform:  rotate(180deg);
}


/* ----------动态---------- */
.myTBDrawer, .myFavoriteDrawer, .supportDrawer{
    top:27px;
    position:absolute;
    border: 1px solid #E5E5E5;
    border-top:none;
    padding: 5px;
    display:none;
    color: #6F6F6F;
    background: #fff;
}
.myTBDrawer{
    width: 72px;
    left: -1px;
}
.myFavoriteDrawer{
    width: 62px;
    left: -1px;
}
.supportDrawer{
    width: 130px;
    right: -1px;
    padding: 0 10px;
    z-index: 10;
}

.topBar li:hover{
    color: #FC0E3D;
    text-decoration: underline;
}
.topBar .miao:hover{
    color: #A3A3A3;
    text-decoration: none;
}
.supportDrawerT{
    margin-top: 7px;
    margin-bottom: -2px;
}
.supportDrawerM{
    overflow: hidden;
}
.supportDrawerB{
    border:1px dotted #6F6F6F;
    border-width: 1px 0;
    margin-bottom: 5px;
}
.supportDrawerL{
    margin-right: 25px;
}


.show{display:block;}
.hide{display:none;}